# IDE folders
.idea
.vscode
__pycache__

# data folders
assets/csv

# assets folder
assets

# app related folders
production
out

# project slides, plots, etc.
misc

# test files and folders
app/SATester.java
dev/test

# tar
*.tar

# makefile
Makefile
