# Jetbrains folders
.idea

# vs code folders
__pycache__
.vscode

# data folders
dev/ml-dataset
dev/csv
dev/clean_csv
dev/reviewsByStarRating
dev/test
dev/reviewSentiment/pickledData

# models folders
dev/textVectorization/textVectorizationModels
dev/reviewSentiment/sentimentClassificationModels