# Jetbrains folders
.idea

# vs code folders
__pycache__
.vscode

# data folders
assets/csv

# assets folders
assets

# app related folders
examples
libraries
modes
templates
tools
production

# project slides, plots, etc.
misc

# test files and folders
app/SATester.java
dev/test
